#mainmenu li {
  display: inline; 
  padding: 0 5px 0 5px;
}
 h1 {
	text-align: center;
 }

body{
	background-color: #45C2DD;
	background-image: url('film-icons/bg3.jpg');
	background-attachment: scroll; 
	
	
	text-align:center;
	margin-top: 48px;
	margin-left: 96px;
	margin-right: 96px;
	
	font-family: "Tahoma",sans-serif;
	text-align:justify;
	
	line-height: 1.5;
	
}

#logo {
	width:225px;
	height:101px;
	border:0;
}

#topnav {
	display: block;
	width: 100%;
	background-color: #ffa500;
	overflow: hidden;
	padding: 10px 0 10px 0;
}

#topnav a {
	overflow: hidden;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17;
	color: black;
}

#topnav a:hover {
	background-color: #6a5acd;
	color: white;
	/*opacity: 0.7;*/
}

#topnav a.active {
	background-color: #6a5acd;
	color: white;
	/*opacity: 0.7;*/
}

.leftmenu {
	float: left;
	text-align: left;
}

.rightmenu {
	text-align: right;
}

#mainmenu, #languagemenu {
	display: inline;
	margin: 0;
	padding: 0;
}

#languagemenu li {
	display: inline;
	padding: 0 5px 0 5px;
}

#languagemenu li:not(:last-child){
	border-right-style: solid;
	border-width: thin;
}

table, th, td {
    border: 1px solid black;
}

table, tr {
	width: 36%;
}

td:first-child {
	width: 32%;
}

th, td {
	padding:0 2px 0 2px;
}

.award {
	margin-left: 20px;
}

.multirow {
	display:none;
}

#back-top {
	display: visible;
}

#back-top a {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999999999;
	color: #eee;
	background-color: rgba(0, 0, 0, 0.3);
	transition: all .25s ease;
	padding: 6px;
	border-radius: 5px;
	text-align: center;
}

#back-top a:hover {
	-webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}

#back-top a i {
	font-size: 2em;
}

.fa {
	display:inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	
}

#flexbox {
	
	
	display: flex;
	
	flex: 200px;
	flex-wrap:wrap;
	height:600px;
	align-content:stretch;
	
}

.flex-component {
	
	display: block;
	
	height:wrap;
	width:350px;
	
	padding: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    margin: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background: aqua;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: aqua;
}